.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .datas {
    margin: 5%;
  }
  
  .dashboard h1 {
    text-align: center;
  }
  
  
  .sidebar {
    position: fixed;
    top: 12.5%;
    left: 0%;
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    z-index: 1;
    transition: transform 0.3s ease;
    overflow-y: auto;
  }
  
  .sidebar-hidden {
    transform: translateX(-100%);
  }
  
  .sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
  }
  
  .menu-icon {
    font-size: 24px;
    color: #000;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
  }
  
  
  .dt {
    display: flex;
  }
  
  .dt ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .dt ul li img {
    width: 100px;
    height: 100px;
  }
  .dashboard h1 {
    text-align: center;
    font-size: 24px; 
    color: #333; 
    margin-bottom: 20px; 
  }